<div class="flexbox vertical center">
  <section class="invitation-form">
    <h1><%= t(".title") %></h1>
    <%= simple_form_for @invitation, url: invitation_acceptances_path(@invitation), method: :post do |form| %>
      <div class="flexbox horizontal wrap justify-space-between">      
        <%= form.input :first_name, required: true, wrapper_html: { class: "half-width" } %>
        <%= form.input :last_name, required: true, wrapper_html: { class: "half-width" } %>
      </div>
      <%= form.input :password, required: true %>
      <%= submit_tag t(".accept") %>
    <% end %>
  </section>
</div>
