<tr class="">
    <td><%= user.id %></td>
  <% if user.admin %>
    <td class="name">
      <h2><%= user.first_name %> <%= user.last_name %></h2>
      <span> - <%= t(".admin") %></span>
    </td>
    <td><p>-</p></td>
    <td><p>-</p></td>
    <td></td>
  <% else %>
    <td class="name">
      <h2><%= user.first_name %> <%= user.last_name %></h2>
    </td>
  <% end %>


  <% user.roles.each do |role| %>
    <td>
      <span><%= role.chapter.name %></span>
    </td>
    <td>
      <span><%= role.name %></span>
    </td>
    <td class="promote-demote">
      <span data-role-id="<%= role.id %>">
        <% if current_user.can_manage_permissions? %> 
          <% if role.name == 'trustee' %>
            <%= link_to t(".promote-to-dean"), role_promotions_path(role), :method => :post, :class => "promote-user" %>
          <% else %>
            <%= link_to t(".demote-to-trustee"), role_promotions_path(role), :method => :delete, :class => "demote-user" %>
          <% end %>
        <% else %>
          <p>-</p>
        <% end %>
      </span>
    </td>
  <% end %>
</tr>
