<header class="users">
  <h1><%= t(".title") %></h1>
</header>

<section class="awesome-members">
  <section class="members-list">
    <table class="members">
      <tr>
        <th><%= t(".name") %></th>
        <th><%= t(".email") %></th>
        <th><%= t(".chapter") %></th>
        <th><%= t(".role") %></th>
        <% if current_user.can_manage_permissions? %>
          <th><%= t(".dean") %></th>
          <th><%= t(".admin") %></th>
          <th><%= t(".remove") %></th>
        <% end %>
      </tr>
      <%= render @users %>
    </table>
  </section>
</section>
