<section class="awesome-members">
  <header>
    <h1><%= t(".title") %></h1>
  </header>
  <section class="members-list">
    <table class="members">
      <tr>
        <th><%= t(".id") %></th>
        <th><%= t(".name") %></th>
        <th><%= t(".chapters") %></th>
        <th><%= t(".position") %></th>
        <th><%= t(".change-position") %></th>
      </tr>
      <%= render @users %>
    </table>
  </section>
</section>
