<section class="footer">
  <p>
    <%= link_to "About Us", page_path("about_us") %>
    <%= link_to "Contact", page_path("contact") %>
    <%= link_to "FAQ", page_path("faq") %>
    <%= link_to "Want to help?", page_path("trustees") %>
    <% if signed_in? -%>
      <%= link_to "Sign out", sign_out_path, :method => :delete %>
    <% else -%>
      <%= link_to "Sign in", sign_in_path %>
    <% end -%>
  </p>

  <ol class="social-links">
    <li>
      <%= link_to "", "http://twitter.com/awesomefound", :class => "twitter" %>
    </li>
    <li>
      <%= link_to "", "http://facebook.com/awesomefoundation", :class => "facebook" %>
    </li>
    <li>
      <%= link_to "", "/blog", :class => "blog" %>
    </li>
  </ol>
</section>
