<footer>
  <p>
    <%= link_to t("layouts.application.contact"), contact_path %>
    <%= link_to t("layouts.application.want_to_help"), trustees_path %>
    <% if signed_in? -%>
      <%= link_to t("layouts.application.sign-out"), sign_out_path, :method => :delete %>
    <% else -%>
      <%= link_to t("layouts.application.sign-in"), sign_in_path %>
    <% end -%>
  </p>

  <ol class="social-links">
    <li>
      <%= link_to "", "http://twitter.com/awesomefound", :class => "twitter" %>
    </li>
    <li>
      <%= link_to "", "http://facebook.com/awesomefoundation", :class => "facebook" %>
    </li>
    <li>
      <%= link_to "", "http://blog.awesomefoundation.org", :class => "blog" %>
    </li>
  </ol>
</footer>
