<footer>
  <p>
    <%= link_to t("layouts.application.about_contact"), about_us_path %>
    <%= link_to t("layouts.application.faq"), faq_path %>

    <%= link_to content_tag("i", nil, :class => "icon-twitter", :title => t("word.twitter")), "https://twitter.com/awesomefound", :target => "_blank" %>
    <%= link_to content_tag("i", nil, :class => "icon-facebook", :title => t("word.facebook")), "https://www.facebook.com/awesomefoundation", :target => "_blank" %>

    <% if signed_in? -%>
      <%= link_to t("layouts.application.sign-out"), sign_out_path, :method => :delete %>
    <% else -%>
      <%= link_to t("layouts.application.sign-in"), sign_in_path %>
    <% end -%>
  </p>

  <p>
    <%= link_to "Български", params.permit!.merge(locale: "bg", only_path: true) %>
    <%= link_to "English", params.permit!.merge(locale: "en", only_path: true) %>
    <%= link_to "Español", params.permit!.merge(locale: "es", only_path: true) %>
    <%= link_to "Français", params.permit!.merge(locale: "fr", only_path: true) %>
    <%= link_to "ՀԱՅԵՐԵՆ", params.permit!.merge(locale: "hy", only_path: true) %>
    <%= link_to "Português", params.permit!.merge(locale: "pt", only_path: true) %>
    <%= link_to "Русский", params.permit!.merge(locale: "ru", only_path: true) %>
  </p>
</footer>
