<section class="footer">
  <p>
    <%= link_to t("layouts.application.about_us"), page_path("about_us") %>
    <%= link_to t("layouts.application.contact"), page_path("contact") %>
    <%= link_to t("layouts.application.faq"), page_path("faq") %>
    <%= link_to t("layouts.application.want_to_help"), page_path("trustees") %>
    <% if signed_in? -%>
      <%= link_to t("layouts.application.sign-out"), sign_out_path, :method => :delete %>
    <% else -%>
      <%= link_to t("layouts.application.sign-in"), sign_in_path %>
    <% end -%>
  </p>

  <ol class="social-links">
    <li>
      <%= link_to "", "http://twitter.com/awesomefound", :class => "twitter" %>
    </li>
    <li>
      <%= link_to "", "http://facebook.com/awesomefoundation", :class => "facebook" %>
    </li>
    <li>
      <%= link_to "", "/blog", :class => "blog" %>
    </li>
  </ol>
</section>
