<footer>
  <p>
    <%= link_to t("layouts.application.about_contact"), about_us_path %>
    <%= link_to t("layouts.application.faq"), faq_path %>
    <% if signed_in? -%>
      <%= link_to t("layouts.application.sign-out"), sign_out_path, :method => :delete %>
    <% else -%>
      <%= link_to t("layouts.application.sign-in"), sign_in_path %>
    <% end -%>

    <span>·</span>

    <%= link_to "English", params.merge(:locale => "en") %>
    <%= link_to "Español", params.merge(:locale => "es") %>
    <%= link_to "Français", params.merge(:locale => "fr") %>
    <%= link_to "Português", params.merge(:locale => "pt") %>
    <%= link_to "Русский", params.merge(:locale => "ru") %>
  </p>

  <ol class="social-links">
    <li><%= link_to "", "http://twitter.com/awesomefound", :class => :twitter %></li>
    <li><%= link_to "", "http://facebook.com/awesomefoundation", :class => :facebook %></li>
    <li><%= link_to "", "http://blog.awesomefoundation.org", :class => :blog %></li>
  </ol>
</footer>
