<header class="main" id="header">
  <nav>
    <a href="<%= root_path %>" class="logo">
      <%= image_tag("logo.png", :class => "fast-forward") %>
      <h1><%= t "layouts.application.main-header" %></h1>
    </a>
    <ol>
      <li>
        <%= link_to t("layouts.application.apply"), new_submission_path, { :class => "apply" } %>
      </li>
      <% if  signed_in? %>
        <li>
          <%= link_to t("layouts.application.dashboard"), projects_path, { :class => "dashboard" } %>
        </li>
      <% end %>
      <li>
        <%= link_to t("layouts.application.blog"), "http://blog.awesomefoundation.org", :class => "blog" %>
      </li>
      <li>
        <%= link_to t("layouts.application.description"), description_path, :class => "description" %>
      </li>
      <li>
        <%= link_to t("layouts.application.chapters"), chapters_path, :class => "chapters" %>
      </li>
      <li>
        <%= link_to t("layouts.application.home"), root_path, :class => "home" %>
      </li>
    </ol>
  </nav>
</header>

<section class="chapter-menu">
  <div class="inner-wrapper">
    <h1><%= t("layouts.application.chapter_header") %></h1>
    <section class="chapters">
    <% Chapter.visitable.sort_by(&CountrySortCriteria.new(COUNTRY_PRIORITY)).each do |chapter| %>
        <% if display_country?(chapter.country) %>
          <h3><%= chapter.country %></h3>
        <% end %>
        <%= link_to chapter.name, chapter %>
      <% end %>
    </section>
  </div>
</section>
