<header class="main" id="header">
  <nav>
    <%= link_to root_path, class: :logo do %>
      <%= image_tag("logo.png", class: "fast-forward", alt: "") %>
      <h1><%= t "layouts.application.main-header" %></h1>
    <% end -%>
    <button class="hamburger" data-controller="hamburger" data-action="click->hamburger#toggle"></button>
    <ol class="flexbox horizontal">
      <li><%= link_to t("layouts.application.home"), root_path, class: :home %></li>
      <li><%= link_to t("layouts.application.about_us"), about_us_path, class: :about_us %></li>
      <li><%= link_to t("layouts.application.chapters"), chapters_path, class: :chapters, data: { controller: "menu-toggle", menu_toggle_target_value: ".chapter-menu", action: "click->menu-toggle#toggle" } %></li>
      <li><%= link_to t("layouts.application.projects"), funded_projects_path, class: :funded_projects %></li>
      <% if signed_in? %>
        <li><%= link_to t("layouts.application.dashboard"), submissions_path, { class: :dashboard } %></li>
      <% end %>
      <li><%= link_to t("layouts.application.apply"), new_submission_path, { class: :apply } %></li>
    </ol>
  </nav>
</header>

<section class="chapter-menu flexbox vertical center">
  <div class="inner-wrapper">
    <h1><%= t("layouts.application.chapter_header") %></h1>
    <section class="chapters in-menu flexbox horizontal wrap">
      <% Chapter.active.visitable.sort_by(&CountrySortCriteria.new(COUNTRY_PRIORITY)).each do |chapter| %>
        <% if display_country?(chapter.country) %>
          <% unless @first_country %>
              </div>
            </article>
          <% end %>
          <article class="country">
            <h3><%= chapter.country %></h3>
            <div class="flexbox horizontal wrap">
        <% end %>
        <p><%= link_to chapter.display_name, chapter %></p>
      <% end %>
      </div>
      </article>
    </section>
  </div>
</section>
