<header class="main" id="header">
  <nav>
    <a href="<%= root_path %>" class="logo">
      <div class="fast-forward">▸▸</div>
      <h1>The Awesome Foundation</h1>
    </a>
    <ol>
      <li>
        <%= link_to "Apply", new_submission_path, { :class => "apply" } %>
      </li>
      <% if  signed_in? %>
        <li>
          <%= link_to "Dashboard", projects_path, { :class => "dashboard" } %>
        </li>
      <% end %>
      <li>
        <%= link_to "Blog", "/blog", :class => "blog" %>
      </li>
      <li>
        <%= link_to "For real?!", page_path("description"), :class => "description" %>
      </li>
      <li>
        <%= link_to "Chapters", chapters_path, :class => "chapters" %>
      </li>
    </ol>
  </nav>
</header>

<section class="chapter-menu">
  <div class="inner-wrapper">
    <h1>Awesome Everywhere!</h1>
    <section class="chapters">
      <% 4.times do %>
        <h2>North America</h2>
        <% 13.times do %>
          <a href="#">Boston Chapter</a>
        <% end %>
      <% end %>
    </section>
  </div>
</section>
