<header class="main" id="header">
  <nav>
    <%= link_to root_path, class: :logo do %>
      <%= image_tag("logo.png", class: "fast-forward") %>
      <h1><%= t "layouts.application.main-header" %></h1>
    <% end -%>
    <button class='hamburger'></button>
    <ol>
      <li><%= link_to t("layouts.application.home"), root_path, class: :home %></li>
      <li><%= link_to t("layouts.application.about_us"), about_us_path, class: :about_us %></li>
      <li><%= link_to t("layouts.application.chapters"), chapters_path, class: :chapters %></li>
      <li><%= link_to t("layouts.application.blog"), "http://blog.awesomefoundation.org", class: :blog %></li>
      <% if signed_in? %>
        <li><%= link_to t("layouts.application.dashboard"), projects_path, { class: :dashboard } %></li>
      <% end %>
      <li><%= link_to t("layouts.application.apply"), new_submission_path, { class: :apply } %></li>
    </ol>
  </nav>
</header>

<section class="chapter-menu">
  <div class="inner-wrapper">
    <h1><%= t("layouts.application.chapter_header") %></h1>
    <section class="chapters">
      <% Chapter.visitable.sort_by(&CountrySortCriteria.new(COUNTRY_PRIORITY)).each do |chapter| %>
        <% if display_country?(chapter.country) %>
          <% unless @first_country %>
            </article>
          <% end %>
          <article class="country">
            <h3><%= chapter.country %></h3>
        <% end %>
        <p><%= link_to chapter.name, chapter %></p>
      <% end %>
      </article>
    </section>
  </div>
</section>
