<div class="avatar">
  <%= image_tag("avatar.jpg") %>
</div>

<% if current_user.can_invite? %>
  <%= link_to "Invite a trustee", new_invitation_path %>
<% end %>
<% if current_user.can_manage_permissions? %>
  <%= link_to "Manage user permissions", "#" %>
<% end %>
<a class="edit-profile" href="#">Edit Profile</a>
<% if current_user.can_create_chapters? %>
  <%= link_to "Create Chapter", new_chapter_path %>
<% end %>
<% current_user.chapters.each do |chapter| %>
  <%= link_to "View Finalists for #{chapter.name}", chapter_finalists_path(chapter) %>
<% end %>
<a class="edit-users" href="#">Edit Users</a>
<a class="edit-chapters" href="#">Edit Chapters</a>
