<section class="awesome-wrapper">
  <section class="tag-line">
    <h1>Forwarding the interst of Awesome in the universe, $1,000 at a time.</h1>
  </section>
  <section class="awesome-projects">
    <article class="project">
      <a href="#" class="image-wrapper">
        <div class="project-name">
          <h2>Project Title</h2>
        </div>
        <%= image_tag("1.JPG") %>
      </a>
    </article>
    <article class="project">
      <a href="#" class="image-wrapper">
        <div class="project-name">
          <h2>Project Title</h2>
        </div>
        <%= image_tag("2.JPG") %>
      </a>
    </article>
    <article class="project">
      <a href="#" class="image-wrapper">
        <div class="project-name">
          <h2>Project Title</h2>
        </div>
        <%= image_tag("3.JPG") %>
      </a>
    </article>
    <article class="project">
      <a href="#" class="image-wrapper">
        <div class="project-name">
          <h2>Project Title</h2>
        </div>
        <%= image_tag("4.JPG") %>
      </a>
    </article>
    <article class="project">
      <a href="#" class="image-wrapper">
        <div class="project-name">
          <h2>Project Title</h2>
        </div>
        <%= image_tag("5.JPG") %>
      </a>
    </article>
    <article class="project">
      <a href="#" class="image-wrapper">
        <div class="project-name">
          <h2>Project Title</h2>
        </div>
        <%= image_tag("6.JPG") %>
      </a>
    </article>
    <article class="project">
      <a href="#" class="image-wrapper">
        <div class="project-name">
          <h2>Project Title</h2>
        </div>
        <%= image_tag("7.JPG") %>
      </a>
    </article>
    <article class="project">
      <a href="#" class="image-wrapper">
        <div class="project-name">
          <h2>Project Title</h2>
        </div>
        <%= image_tag("8.JPG") %>
      </a>
    </article>
    <article class="project">
      <a href="#" class="image-wrapper">
        <div class="project-name">
          <h2>Project Title</h2>
        </div>
        <%= image_tag("9.JPG") %>
      </a>
    </article>
    <article class="project">
      <a href="#" class="image-wrapper">
        <div class="project-name">
          <h2>Project Title</h2>
        </div>
        <%= image_tag("10.JPG") %>
      </a>
    </article>
    <article class="project">
      <a href="#" class="image-wrapper">
        <div class="project-name">
          <h2>Project Title</h2>
        </div>
        <%= image_tag("11.JPG") %>
      </a>
    </article>
    <article class="project">
      <a href="#" class="image-wrapper">
        <div class="project-name">
          <h2>Project Title</h2>
        </div>
        <%= image_tag("12.JPG") %>
      </a>
    </article>
    <article class="project">
      <a href="#" class="image-wrapper">
        <div class="project-name">
          <h2>Project Title</h2>
        </div>
        <%= image_tag("13.JPG") %>
      </a>
    </article>
    <article class="project">
      <a href="#" class="image-wrapper">
        <div class="project-name">
          <h2>Project Title</h2>
        </div>
        <%= image_tag("14.JPG") %>
      </a>
    </article>
    <article class="project">
      <a href="#" class="image-wrapper">
        <div class="project-name">
          <h2>Project Title</h2>
        </div>
        <%= image_tag("15.JPG") %>
      </a>
    </article>
  </section>
</section>

<section class="what-how">
  <h2>$127,000 Granted | 127 projects funded</h2>
  <div class="info-graphic">
  </div>
</section>

<section class ="who-where">
  <h2>37 Chapters | 400 trustees</h2>
  <h2>In 9 countries | On 4 continents</h2>
</section>

<section class="news">
</section>


