<section class="awesome-wrapper">
  <section class="awesome-projects">
  <% @projects[0..5].each do |project| %>
    <article class="project project-<%= project.id %>">
      <%= link_to project, :class => "image-wrapper" do %>
        <div class="project-name">
          <h2><%= project.title %></h2>
          <p><%= t ".by", :name => project.name %></p>
        </div>
        <div class="funding-chapter">
          <h3><%= image_tag("location_pin_small.png") %> <%= project.chapter.name %></h3>
        </div>
        <%= project.photos.any? ? image_tag(project.photos.first.image(:index)) : "" %>
      <% end %>
    </article>
  <% end %>

  <section class="tagline">
    <div class="inner-wrapping">
      <div class="wrapper-2">
        <div class="message">
          <h1><%= t ".title" %></h1>
        </div>
      </div>
    </div>
  </section>

  <% (@projects[6..11] || []).each do |project| %>
    <article class="project project-<%= project.id %>">
      <%= link_to project, :class => "image-wrapper" do %>
        <div class="project-name">
          <h2><%= project.title %></h2>
          <p><%= t ".by", :name => project.name %></p>
        </div>
        <div class="funding-chapter">
          <h3><%= image_tag("location_pin_small.png") %> <%= project.chapter.name %></h3>
        </div>
        <%= project.photos.any? ? image_tag(project.photos.first.image(:index)) : "" %>
      <% end %>
    </article>
  <% end %>
  </section>
</section>

<section class="what-how">
  <hgroup>
    <h2><%= t(".funding-html", :amount => funding_amount_for(Project.winner_count)) %> <span class="divider">|</span> <%= t(".winner-count-html", :amount => Project.winner_count) %></h2>
  </hgroup>
  <div class="need-funding">
    <div class="description">
      <h3>Need some funding?</h3>
      <p>Do you have a crazy brilliant idea that needs some funding? We award <strong>$1,000 grants every month</strong>. It couldn't be simpler! Your idea is yours alone. We don't want a stake in it. We just want to help you make it happen.</p>
    </div>
    <div class="info-graphic">
      <div class="graphic">
        <%= image_tag("info_graphic.png") %>
      </div>
    </div>
  </div>

  <section class="call-to-action">
    <a href="#">Apply now for an Awesome Foundation grant!</a>
  </section>
</section>

<section class ="who-where">
  <hgroup>
    <h2><%= t(".chapter-count-html", :count => Chapter.count) %> <span class="divider">|</span> <%= t(".country-count-html", :count => Chapter.country_count) %></h2>
  </hgroup>

  <div class="about-preview">
    <div class="mini-map">
      <%= image_tag("mini_map.png") %>
    </div>
    <div class="intro">
      <h3><%= t ".intro.header" %></h3>
      <p><%= t ".intro.body" %></p>
    </div>
  </div>
</section>

<section class="news">
  <header>
    <h2><%= t ".news.header" %></h2>
  </header>
  <div class="feed-wrapper">
    <section class="rss">
      <div class="inner-wrapper">
        <h3><%= t ".news.recent" %></h3>
        <ol class="feed">
          <% headlines(MAIN_AWESOME_RSS, 6).each do |headline| %>
            <li class="post">
              <%= link_to headline[:link] do %>
                <%= headline[:title] %>
              <% end %>
            </li>
          <% end %>
        </ol>
      </div>
    </section>
    <section class="events">
      <div class="inner-wrapper">
        <h3><%= t ".news.events" %></h3>
        <ol class="feed">
          <% 6.times do %>
            <li class="post">
              <a href="#">This is going to be an awesome event!</a>
            </li>
          <% end %>
        </ol>
      </div>
    </section>
  </div>
</section>

<section class="awesome-chapters">
  <% @chapters.each do |chapter| %>
      <%= link_to chapter, :class => "image-wrapper" do %>
        <%= chapter.name %>
      <% end %>
  <% end %>
</section>


