<section class="awesome-wrapper">
  <section class="tag-line">
    <h1>Forwarding the interst of Awesome in the universe, $1,000 at a time.</h1>
  </section>
  <section class="awesome-projects">
  <% @projects.each do |project| %>
    <article class="project project-<%= project.id %>">
      <%= link_to project, :class => "image-wrapper" do %>
        <div class="project-name">
          <h2><%= project.title %></h2>
        </div>
        <%= image_tag("1.JPG") %>
      <% end %>
    </article>
  <% end %>
  </section>
  <section class="awesome-chapters">
    <% @chapters.each do |chapter| %>
      <article class="chapter">
        <%= link_to chapter, :class => "image-wrapper" do %>
          <div class="chapter-name">
            <h2><%= chapter.name %></h2>
          </div>
        <% end %>
      </article>
    <% end %>
  </section>
</section>

<section class="what-how">
  <h2>$127,000 Granted | 127 projects funded</h2>
  <div class="info-graphic">
    <div class="have-idea">
      <%= image_tag("") %>
      <h2>Have an idea?</h2>
    </div>
    <div class="apply">
      <%= image_tag("") %>
      <h2>Apply</h2>
    </div>
    <div class="get-funded">
      <%= image_tag("") %>
      <h2>Get Funding</h2>
    </div>
  </div>
</section>

<section class ="who-where">
  <h2>37 Chapters | In 9 countries | On 4 continents</h2>
</section>

<section class="news">
  <header>
    <h2>Awesome News</h2>
  </header>
  <div class="feed-wrapper">
    <section class="rss">
      <h3>Recent posts from the blog</h3>
      <ol>
        <% 6.times do %>
          <li class="post">
            <a href="#">
              <p>This is a recent and awesome post</p>
            </a>
          </li>
        <% end %>
      </ol>
    </section>
    <section class="events">
      <h3>Upcoming Events</h3>
      <ol>
        <% 6.times do %>
          <li class="post">
            <a href="#">
              <p>This is going to be an awesome event!</p>
            </a>
          </li>
        <% end %>
      </ol>
    </section>
  </div>
</section>


