<section class="awesome-wrapper">

  <section class="tag-line">
    <h1>Forwarding the interst of Awesome in the universe, $1,000 at a time.</h1>
  </section>

  <section class="awesome-projects">
  <% @projects.each do |project| %>
    <article class="project project-<%= project.id %>">
      <%= link_to project, :class => "image-wrapper" do %>
        <div class="project-name">
          <h2><%= project.title %></h2>
          <p>
            <%= project.use %>
            <span>By <%= project.name %></span>
          </p>
        </div>
        <%= project.photos.any? ? image_tag(project.photos.first.image(:index)) : "" %>
      <% end %>
    </article>
  <% end %>
  </section>
</section>

<section class="what-how">
  <h2>$127,000 <span>Granted</span> <span class="divider">|</span> 127 <span>projects funded</span></h2>
  <div class="info-graphic">
    <div class="have-idea">
      <%= image_tag("idea.png") %>
      <h3>Have an idea?</h3>
    </div>
    <div class="apply">
      <%= image_tag("apply.png") %>
      <h3>Apply</h3>
    </div>
    <div class="get-funded">
      <%= image_tag("money.png") %>
      <h3>Get Funding</h3>
    </div>
  </div>
</section>

<section class ="who-where">
  <h2>37 <span>Chapters</span> <span class="divider">|</span> 9 <span>Countries</span> <span class="divider">|</span> 4 <span>Continents</span></h2>
  <div class="about-preview">
    <p>
      The Awesome Foundation for the Arts and Sciences is an ever-growing, worldwide network of people devoted to forwarding the interest of awesomeness in the universe. Created in the long hot summer days of 2009 in Boston, the Foundation distributes a series of monthly $1,000 grants to projects and their creators. The money is pooled together from the coffers of ten or so self-organizing “micro-trustees” and given upfront in cash, check, or gold doubloons. The chapters are autonomous and organized by the trustees around geographic areas or topics of interest.
    </p>
  </div>

  <section class="awesome-chapters">
    <% @chapters.each do |chapter| %>
        <%= link_to chapter, :class => "image-wrapper" do %>
          <p><%= chapter.name %></p>
        <% end %>
    <% end %>
  </section>
</section>

<section class="news">
  <header>
    <h2>Awesome News</h2>
  </header>
  <div class="feed-wrapper">
    <section class="rss">
      <h3>Recent posts from the blog</h3>
      <ol>
        <% headlines(MAIN_AWESOME_RSS, 6).each do |headline| %>
          <li class="post">
            <%= link_to headline[:link] do %>
              <p><%= headline[:title] %></p>
            <% end %>
          </li>
        <% end %>
      </ol>
    </section>
    <section class="events">
      <h3>Upcoming Events</h3>
      <ol>
        <% 6.times do %>
          <li class="post">
            <a href="#">
              <p>This is going to be an awesome event!</p>
            </a>
          </li>
        <% end %>
      </ol>
    </section>
  </div>
</section>


