<section class="awesome-wrapper">
  <section class="awesome-projects">
  <% @projects[0..5].each do |project| %>
    <article class="project project-<%= project.id %>">
      <%= link_to project, :class => "image-wrapper" do %>
        <div class="project-name">
          <h2><%= project.title %></h2>
          <p><%= t ".by", :name => project.name %></p>
        </div>
        <div class="funding-chapter">
          <h3><%= image_tag("location_pin_small.png") %> <%= project.chapter.name %></h3>
        </div>
        <%= image_tag(project.primary_image.url(:index)) %>
      <% end %>
    </article>
  <% end %>

  <section class="tagline">
    <div class="inner-wrapping">
      <div class="wrapper-2">
        <div class="message">
          <h1><%= t ".title" %></h1>
        </div>
      </div>
    </div>
  </section>

  <% (@projects[6..11] || []).each do |project| %>
    <article class="project project-<%= project.id %>">
      <%= link_to project, :class => "image-wrapper" do %>
        <div class="project-name">
          <h2><%= project.title %></h2>
          <p><%= t ".by", :name => project.name %></p>
        </div>
        <div class="funding-chapter">
          <h3><%= image_tag("location_pin_small.png") %> <%= project.chapter.name %></h3>
        </div>
        <%= image_tag(project.primary_image.url(:index)) %>
      <% end %>
    </article>
  <% end %>
  </section>
</section>

<section class="what-how">
  <hgroup>
    <h2><%= t(".funding-html", :amount => funding_amount_for(Project.winner_count)) %> <span class="divider"></span> <%= t(".winner-count-html", :amount => Project.winner_count) %></h2>
  </hgroup>
  <div class="need-funding">
    <div class="description">
      <h3><%= t ".what.header" %></h3>
      <p><%= t ".what.body-html" %></p>
    </div>
    <div class="info-graphic">
      <div class="graphic">
        <%= image_tag("info_graphic.png") %>
      </div>
    </div>
  </div>
</section>

<section class="call-to-action">
  <%= link_to t(".call-to-action"), new_submission_path %>
</section>

<section class ="who-where">
  <hgroup>
    <h2><%= t(".chapter-count-html", :count => Chapter.count) %> <span class="divider"></span> <%= t(".country-count-html", :count => Chapter.country_count) %></h2>
  </hgroup>

  <div class="about-preview">
    <div class="mini-map">
      <%= image_tag("mini_map.png") %>
    </div>
    <div class="intro">
      <h3><%= t ".who.header" %></h3>
      <p><%= t ".who.body" %></p>
    </div>
  </div>
</section>

<section class="news">
  <div class="inner-wrapper">
    <header>
      <h2><%= t ".news.recent" %></h2>
    </header>
    <section class="rss" id="rss-feeds"></section>
  </div>
</section>

<section class="awesome-chapters">
  <% @chapters.each do |chapter| %>
      <%= link_to chapter, :class => "image-wrapper" do %>
        <%= chapter.name %>
      <% end %>
  <% end %>
</section>

<% content_for :javascript do -%>
  <%= render 'shared/rssfeed', rss_feed_url: MAIN_AWESOME_RSS %>
<% end -%>
