<section class="invitation-form">
  <h1>Invite a new trustee</h1>
  <%= simple_form_for  @invitation do |form| %>
    <% if generate_chapter_select %>
      <%= form.input :chapter_id, :as => :select, :collection => chapters_collection, :group_method => :name, :label => "Select a chapter", :prompt => "- Select -" %>
    <% else %>
      Invite a trustee to:
      <%= current_chapter.name %>
      <%= form.input :chapter_id,
                     :as         => :hidden,
                     :input_html => { :value => current_chapter.id } %>
    <% end %>
    <div class="invitee-name">
      <%= form.input :first_name %>
      <%= form.input :last_name %>
    </div>
    <%= form.input :email %>
    <%= submit_tag "Invite" %>
  <% end %>
</section>
