<div class="image" data-src="<%= project.display_images[0].url %>">
  <%= image_tag(project.display_images[0].url(:large_square)) %>
</div>
<div class="image" data-src="<%= project.display_images[1].url %>">
  <%= image_tag(project.display_images[1].url(:small_rectangle)) %>
</div>
<div class="image" data-src="<%= project.display_images[2].url %>">
  <%= image_tag(project.display_images[2].url(:small_rectangle)) %>
</div>
