<div class="personal-info">
  <%= form.input :name, :label => "Your name" %>
  <%= form.input :email %>
  <%= form.input :phone %>
</div>
<div class="project-info">
  <%= form.input :title, :label => "Project title" %>
  <%= form.input :url, :label => "Project website" %>
</div>
<%= form.input :description, :label => "About me", :input_html => { :class => "about-me" } %>
<%= form.input :use, :label => "About the project", :input_html => { :class => "project-desc" } %>
<% unless form.object.photos.blank? %>
<div class="old-photos">
  <% form.object.photos.reverse.each do |photo| %>
    <p><%= photo.image_file_name %></p>
  <% end %>
</div>
<% end %>
<div class="input file optional">
  <label class="file optional"> New photos</label>
  <div class="multi-input first">
    <a href="#" data-remove="true">x</a>
    <input class="file optional multi first new_photo" id="project_new_photos" name="project[new_photos][]" type="file" value="">
  </div>
</div>
<%= form.input :chapter_id, :collection => Chapter.all, :as => :select, :group_method => :name, :label => "Select chapter to apply to" %>
<div class="extra-questions" style="display:none">
  <%= form.input :extra_question_1, :as => :hidden, :wrapper_html => {:class => "extra-question"}  %>
  <%= form.input :extra_question_2, :as => :hidden, :wrapper_html => {:class => "extra-question"}  %>
  <%= form.input :extra_question_3, :as => :hidden, :wrapper_html => {:class => "extra-question"}  %>
  <%= form.input :extra_answer_1, :label => "Extra Question 1", :wrapper_html => {:class => "extra-answer"} %>
  <%= form.input :extra_answer_2, :label => "Extra Question 2", :wrapper_html => {:class => "extra-answer"} %>
  <%= form.input :extra_answer_3, :label => "Extra Question 3", :wrapper_html => {:class => "extra-answer"} %>
</div>

<% content_for :javascript do %>
  <%= javascript_tag do %>
    var extra_questions = {
    <% Chapter.all.each do |chapter| %>
      "<%= chapter.id %>": <%= extra_questions_json(chapter) %>,
    <% end %>}
  <% end %>
<% end %>
