<div class="project-section chapter-select">
  <%= form.input :chapter_id, :collection => Chapter.select_data(@project.new_record? ? :active : :all), :prompt => '- Select -', :as => :grouped_select, :group_method => :chapters, :group_label_method => :name, :label_method => :name %>
</div>

<div class="intro-text hidden">
</div>

<div class="personal-info">
  <%= form.input :name %>
  <div class="flexbox horizontal wrap justify-space-between">
    <%= form.input :email, wrapper_html: { class: "half-width" } %>
    <%= form.input :phone, wrapper_html: { class: "half-width" } %>
  </div>
</div>
<div class="project-info">
  <%= form.input :title, :maxlength => 50 %>
  <%= form.input :url, :as => :string %>
</div>
<div class="descriptions">
  <%= form.input :about_project, :maxlength => 2000, :input_html => { :class => "project-desc" }, :disabled => !form.object.new_record? %>
  <div class="chars_left">
    You have <span id="project_about_project_chars_left">2000</span> chars left
  </div>
  <%= form.input :use_for_money, :maxlength => 500, :input_html => { :class => "project-use-for-money" }, :disabled => !form.object.new_record?  %>
  <div class="chars_left">
    You have <span id="project_use_for_money_chars_left">500</span> chars left
  </div>
  <%= form.input :about_me, :maxlength => 500, :input_html => { :class => "about-me" }, :disabled => !form.object.new_record?  %>
  <div class="chars_left">
    You have <span id="project_about_me_chars_left">500</span> chars left
  </div>
</div>

<%= render partial: "image_upload", locals: { form: form } %>

<div class="extra-questions" style="display:none">
  <%= form.input :extra_question_1, :as => :hidden, :wrapper_html => {:class => "extra-question"}  %>
  <%= form.input :extra_question_2, :as => :hidden, :wrapper_html => {:class => "extra-question"}  %>
  <%= form.input :extra_question_3, :as => :hidden, :wrapper_html => {:class => "extra-question"}  %>
  <%= form.input :extra_answer_1, :wrapper_html => {:class => "extra-answer"} %>
  <%= form.input :extra_answer_2, :wrapper_html => {:class => "extra-answer"} %>
  <%= form.input :extra_answer_3, :wrapper_html => {:class => "extra-answer"} %>
</div>

<% if current_user.can_edit_project?(project) %>
  <a name="winner"></a>

  <%= render partial: "funded_date", locals: { form: form } %>

  <div class="funded_description">
    <%= form.input :funded_description %>
  </div>

  <%= form.input :rss_feed_url, :as => :string %>
<% end %>

<% content_for :javascript do %>
  <%= javascript_tag do %>
    $(window).load(function(){
      // Update the remaining character counts on pageload
      $('#project_about_me').keydown();
      $('#project_about_project').keydown();
      $('#project_use_for_money').keydown();
    });

    var extra_questions = {
    <% Chapter.all.each do |chapter| %>
      "<%= chapter.id %>": {
        "questions": <%= extra_questions_json(chapter) %>,
        "intro": "<%= escape_javascript(markdown(chapter.application_intro)) %>"
      },
    <% end %>}
  <% end %>
<% end %>

<% content_for :javascript do %>
  <%= javascript_include_tag "https://releases.transloadit.com/uppy/v3.2.1/uppy.min.js" %>
<% end %>

<% content_for :head do %>
  <%= stylesheet_link_tag "https://releases.transloadit.com/uppy/v3.2.1/uppy.min.css" %>
<% end %>
