<div class="personal-info">
  <%= form.input :name %>
  <%= form.input :email %>
  <%= form.input :phone %>
</div>
<div class="project-info">
  <%= form.input :title %>
  <%= form.input :url %>
</div>
<div class="descriptions">
  <%= form.input :description, :input_html => { :class => "about-me" } %>
  <%= form.input :use, :input_html => { :class => "project-desc" } %>
</div>
<div class="image-upload">
  <% unless form.object.photos.blank? %>
    <ul class="old-photos">
      <%= form.input :photo_order, :as => :hidden %>
      <% form.object.photos.each do |photo| %>
        <li data-id="<%= photo.id %>"><a href="#" data-remove="true">x</a><span><%= photo.image_file_name %></span></li>
      <% end %>
    </ul>
  <% end %>
  <div class="input file optional">
    <label class="file optional"><%= t "simple_form.labels.project.new_photos" %></label>
    <div class="multi-input first noremove">
      <input class="file optional multi new_photo" id="project_new_photos" name="project[new_photos][]" type="file" value="">
      <a href="#" class="remove-image" data-remove="true">remove</a>
    </div>
  </div>
</div>
<%= form.input :chapter_id, :collection => Chapter.all, :as => :select, :group_method => :name %>
<div class="extra-questions" style="display:none">
  <%= form.input :extra_question_1, :as => :hidden, :wrapper_html => {:class => "extra-question"}  %>
  <%= form.input :extra_question_2, :as => :hidden, :wrapper_html => {:class => "extra-question"}  %>
  <%= form.input :extra_question_3, :as => :hidden, :wrapper_html => {:class => "extra-question"}  %>
  <%= form.input :extra_answer_1, :wrapper_html => {:class => "extra-answer"} %>
  <%= form.input :extra_answer_2, :wrapper_html => {:class => "extra-answer"} %>
  <%= form.input :extra_answer_3, :wrapper_html => {:class => "extra-answer"} %>
</div>

<% content_for :javascript do %>
  <%= javascript_tag do %>
    var extra_questions = {
    <% Chapter.all.each do |chapter| %>
      "<%= chapter.id %>": <%= extra_questions_json(chapter) %>,
    <% end %>}

    function reorderPhotos(){
      var photo_order = $('.old-photos li[data-id]').map(function(x, el){
        return $(el).attr('data-id') 
      });
      $('#project_photo_order').val($.makeArray(photo_order).join(" "));
    }

    $(".old-photos *[data-remove='true']").live("click", function(){
      var val = $('#project_photo_order').val();
      val = val.replace($(this.parentNode).attr('data-id'), '');
      $('#project_photo_order').val(val);
    });

    $(window).load(function(){
    $(".old-photos").sortable({
      update: reorderPhotos
    })});
  <% end %>
<% end %>
