<div class="personal-info">
  <%= form.input :name %>
  <%= form.input :email %>
  <%= form.input :phone %>
</div>
<div class="project-info">
  <%= form.input :title, :maxlength => 50 %>
  <%= form.input :url %>
  <%= form.input :rss_feed_url %>
</div>
<div class="descriptions">
  <%= form.input :about_me, :maxlength => 500, :input_html => { :class => "about-me" } %>
  <div class="chars_left">
    You have <span id="project_about_me_chars_left">500</span> chars left
  </div>
  <%= form.input :about_project, :maxlength => 2000, :input_html => { :class => "project-desc" } %>
  <div class="chars_left">
    You have <span id="project_about_project_chars_left">2000</span> chars left
  </div>
  <%= form.input :use_for_money, :maxlength => 500, :input_html => { :class => "project-use-for-money" } %>
  <div class="chars_left">
    You have <span id="project_use_for_money_chars_left">500</span> chars left
  </div>
</div>
<% if current_user.can_edit_project?(project) %>
  <div class="funded_on">
    <%= form.input :funded_on, :as => :string %>
  </div>
<% end %>
<div class="image-upload">
  <% if form.object.photos.present? %>
    <section class="current-images">
    <label><%= t "simple_form.labels.project.current_photos-html" %></label>
      <ul class="old-photos">
        <%= form.input :photo_order, :as => :hidden %>
        <% form.object.photos.each do |photo| %>
          <li data-id="<%= photo.id %>">
            <span><%= photo.image_file_name %></span>
            <a href="#" class="remove-image" data-remove="true">remove</a>
          </li>
        <% end %>
      </ul>
    </section>
  <% end %>
  <div class="input file optional">
    <label class="file optional"><%= t "simple_form.labels.project.new_photos-html" %></label>
    <div class="multi-input first noremove">
      <input class="file optional multi new_photo" id="project_new_photos" name="project[new_photos][]" type="file" value="">
      <a href="#" class="remove-image" data-remove="true">remove</a>
    </div>

    <div><%= t(".image-notes", :dimensions => Photo::MAIN_DIMENSIONS) %></div>

  </div>
</div>
<%= form.input :chapter_id, :collection => Chapter.select_data, :prompt => '- Select -', :as => :select, :group_method => :name %>
<div class="extra-questions" style="display:none">
  <%= form.input :extra_question_1, :as => :hidden, :wrapper_html => {:class => "extra-question"}  %>
  <%= form.input :extra_question_2, :as => :hidden, :wrapper_html => {:class => "extra-question"}  %>
  <%= form.input :extra_question_3, :as => :hidden, :wrapper_html => {:class => "extra-question"}  %>
  <%= form.input :extra_answer_1, :wrapper_html => {:class => "extra-answer"} %>
  <%= form.input :extra_answer_2, :wrapper_html => {:class => "extra-answer"} %>
  <%= form.input :extra_answer_3, :wrapper_html => {:class => "extra-answer"} %>
</div>

<% content_for :javascript do %>
  <%= javascript_tag do %>
    $(window).load(function(){
      $('#project_funded_on').datepicker({dateFormat: 'yy-mm-dd', onClose: function(){ $('#project_funded_on').blur() }});

      // Fire the chapter change event to get extra questions to appear
      $('#project_chapter_id').change();

      // Update the remaining character counts on pageload
      $('#project_about_me').keydown();
      $('#project_about_project').keydown();
      $('#project_use_for_money').keydown();
    });

    var extra_questions = {
    <% Chapter.all.each do |chapter| %>
      "<%= chapter.id %>": <%= extra_questions_json(chapter) %>,
    <% end %>}

    function reorderPhotos(){
      var photo_order = $('.old-photos li[data-id]').map(function(x, el){
        return $(el).attr('data-id')
      });
      $('#project_photo_order').val($.makeArray(photo_order).join(" "));
    }

    $(".old-photos *[data-remove='true']").live("click", function(){
      var val = $('#project_photo_order').val();
      val = val.replace($(this.parentNode).attr('data-id'), '');
      $('#project_photo_order').val(val);
    });

    $(window).load(function(){
    $(".old-photos").sortable({
      update: reorderPhotos
    })});
  <% end %>
<% end %>
