<div class="personal-info">
  <%= form.input :name %>
  <%= form.input :email %>
  <%= form.input :phone %>
</div>
<div class="project-info">
  <%= form.input :title, :maxlength => 50 %>
  <%= form.input :url %>
  <%= form.input :rss_feed_url %>
</div>
<div class="descriptions">
  <%= form.input :description, :maxlength => 2500, :input_html => { :class => "about-me" } %>
  <div class="chars_left">
    You have <span id="project_description_chars_left">2500</span> chars left
  </div>
  <%= form.input :use, :maxlength => 500, :input_html => { :class => "project-desc" } %>
  <div class="chars_left">
    You have <span id="project_use_chars_left">500</span> chars left
  </div>
</div>
<div class="image-upload">
  <% unless form.object.photos.blank? %>
    <section class="current-images">
    <label><%= t "simple_form.labels.project.current_photos-html" %></label>
      <ul class="old-photos">
        <%= form.input :photo_order, :as => :hidden %>
        <% form.object.photos.each do |photo| %>
          <li data-id="<%= photo.id %>">
            <span><%= photo.image_file_name %></span>
            <a href="#" class="remove-image" data-remove="true">remove</a>
          </li>
        <% end %>
      </ul>
    </section>
  <% end %>
  <div class="input file optional">
    <label class="file optional"><%= t "simple_form.labels.project.new_photos-html" %></label>
    <div class="multi-input first noremove">
      <input class="file optional multi new_photo" id="project_new_photos" name="project[new_photos][]" type="file" value="">
      <a href="#" class="remove-image" data-remove="true">remove</a>
    </div>
  </div>
</div>
<%= form.input :chapter_id, :collection => Chapter.select_data, :prompt => '- Select -', :as => :select, :group_method => :name %>
<div class="extra-questions" style="display:none">
  <%= form.input :extra_question_1, :as => :hidden, :wrapper_html => {:class => "extra-question"}  %>
  <%= form.input :extra_question_2, :as => :hidden, :wrapper_html => {:class => "extra-question"}  %>
  <%= form.input :extra_question_3, :as => :hidden, :wrapper_html => {:class => "extra-question"}  %>
  <%= form.input :extra_answer_1, :wrapper_html => {:class => "extra-answer"} %>
  <%= form.input :extra_answer_2, :wrapper_html => {:class => "extra-answer"} %>
  <%= form.input :extra_answer_3, :wrapper_html => {:class => "extra-answer"} %>
</div>

<% content_for :javascript do %>
  <%= javascript_tag do %>
    var extra_questions = {
    <% Chapter.all.each do |chapter| %>
      "<%= chapter.id %>": <%= extra_questions_json(chapter) %>,
    <% end %>}

    function reorderPhotos(){
      var photo_order = $('.old-photos li[data-id]').map(function(x, el){
        return $(el).attr('data-id') 
      });
      $('#project_photo_order').val($.makeArray(photo_order).join(" "));
    }

    $(".old-photos *[data-remove='true']").live("click", function(){
      var val = $('#project_photo_order').val();
      val = val.replace($(this.parentNode).attr('data-id'), '');
      $('#project_photo_order').val(val);
    });

    $(window).load(function(){
    $(".old-photos").sortable({
      update: reorderPhotos
    })});
  <% end %>
<% end %>
