  <section class="filtering <%= 'show-form' if local_assigns[:expanded] %>" data-controller="revealer" data-revealer-expanded-class-value="show-form">
    <% if project.hidden? %>
      <p>
        <%= t(".hidden-details", username: project.hidden_by_user.name, hidden_at: l(project.hidden_at.to_date), reason: project.hidden_reason) %>
        <% unless @display_project_even_if_hidden %>
          (<%= link_to t(".view-application"), chapter_project_path(project.chapter, project), :class => "title" %>)
        <% end %>
      </p>
      <%# only display the unhide button if we are reviewing the whole project %>
      <% if @display_project_even_if_hidden %>
        <div class="unhiding-form">
          <%= button_to t(".unhide"), unhide_project_path(id: project.id), method: :put, class: "hide-action" %>
          <div class="explanation">
            <%= t(".unhiding-explanation") %>
          </div>
        </div>
      <% end %>
    <% else %>
      <div class="consider-hiding">
        <%= t(".consider-hiding") %>
        <%= link_to t(".hide"), "#", data: { project_id: project.id, action: "click->revealer#reveal" }, class: "hideFormLink" %>
      </div>

      <% if local_assigns[:error_message] %>
        <div class="error"><%= local_assigns[:error_message] %></div>
      <% end %>
      
      <div class="hiding-form">
        <%= form_tag hide_project_path(project), method: :put, class: "hide-form", data: { turbo: true } do %>
          <%= label_tag nil do %>
            <%= t(".hide-reason") %>
            <%= text_field_tag :hidden_reason, "", class: "reason" %>
          <% end %>
          <%= hidden_field_tag :return_to, request.original_url %>
          <%= hidden_field_tag :context, params[:context] || params[:action] %>
          <%= submit_tag t(".hide"), class: "hide-action" %>
        <% end %>
        <p class="hint">
          <%= t(".hiding-explanation") %>
        </p>
      </div>
    <% end %>
  </section>
