<li data-id="<%= photo&.id %>" class="js-uploader__element <%= 'hidden' if photo._destroy %>">
  <a href="#" class="remove-image" data-remove="true">remove</a>
  <%= image_tag(photo.url(:small_square), class: "form__image-element-image") %>
  <span><%= photo&.original_filename %></span>
  <%= f.input :caption, as: :string, label: false, placeholder: "Add an optional image caption", input_html: { class: "form__image-element-caption" } %>
  <%= f.input(:image, as: :hidden, input_html: { class: "js-image-data" }) unless photo.persisted? %>
  <%= f.input :sort_order, as: :hidden, input_html: { class: "js-uploader__sort-field" } %>
  <%= f.input :_destroy, as: :hidden, input_html: { class: "js-uploader__destroy-field" } %>
</li>
