<header>
  <div class="title">
    <%= link_to project.title, chapter_project_path(project.chapter, project), :class => "title" %>
  </div>

  <section class="meta-data">
    <%= project.created_at %> (<%= project.chapter.name %>)

    <% if project.winner? %>
      路 <%= link_to I18n.t(".view-public-page", scope: "projects.project"), project_path(project), :target => "blank" %>
    <% end %>

    <% unless FEATURE_NEW_ACTIONS? %>
    <% if current_user.can_edit_project?(project) -%>
      <span class="spam">
        <%= link_to I18n.t(".delete", scope: "projects.project"), project_path(project), :method => :delete, :data => { :confirm => I18n.t(".confirm-delete", scope: "projects.project", scope: "projects.project") }, :class => 'delete-spam' %>
      </span>
    <% end -%>
    <% end %>
  </section>

  <section class="contact">
    <span>
      <%= project.name %>
    </span>

    <span>
      路 <%= mail_to project.email %>
    </span>

    <% if project.phone.present? %>
      <span>
        路 <%= project.phone %>
      </span>
    <% end %>

    <% if project.url.present? %>
      <span>
        路 <%= link_to project.url, project.url %>
      </span>
    <% end %>
  </section>
</header>

