<article class="project <%= "shortlisted" if project.shortlisted_by?(current_user) %> <%= "winner" if project.winner? %>" data-id="<%= project.id %>">
  <header>
    <div class="title">
      <%= link_to project.title, project_path(project), :class => "title" %></a>
      <% if current_user.can_mark_winner?(project) %>
          <%= link_to "Winner", project_winner_url(project), :method => (project.winner? ? :delete : :post), :class => 'mark-as-winner' %>
      <% end %>
      <% if project.shortlisted_by?(current_user) %>
        <%= link_to "Awesome", vote_path(Vote.by(current_user).for(project).first), :method => :delete, :class => "short-list" %>
      <% else %>
        <%= link_to "Awesome", project_votes_path(project), :method => :post, :class => "short-list" %>
      <% end %>
    </div>

    <section class="meta-data">
      <span>
        <%= project.name %>
      </span>
      <span>
        <%= project.chapter.name %>,
        <%= project.created_at %>
      </span>
    </section>
  </header>

  <section class="project-proposal-details">
    <div class="project-pitch">
      <p><%= project.use %></p>
    </div>
    <div="details-toggle">
    </div>
    <%= link_to "<p>See the rest →</p>".html_safe, project_path(project), :class => "see-more" %></a>
  </section>
</article>

