<header>
  <div class="title">
    <%= link_to project.title, chapter_project_path(project.chapter, project), :class => "title" %>

    <div class="actions">
    <% if project.shortlisted_by?(current_user) %>
      <%= link_to I18n.t(".awesome", scope: "projects.project"), project_vote_path(project), :method => :delete, :remote => true, :class => "short-list" %>
    <% else %>
      <%= link_to I18n.t(".awesome", scope: "projects.project"), project_vote_path(project), :method => :post, :remote => true, :class => "short-list" %>
    <% end %>

    <% if display_project_actions?(current_user, project) %>
      <%= link_to '<i class="icon-gear"></i>'.html_safe, "#", :class => "project-actions-toggle" %>
    <% end %>
    </div>

    <div class="public-link">
      <%= link_to project_path(project), :target => "blank" do %>
        <%= I18n.t(".view-public-page", scope: "projects.project") %> <i class="icon-ok-sign"></i>
      <% end %>
    </div>
  </div>

  <section class="meta-data">
    <%= project.created_at %> (<%= project.chapter.display_name %>)

    <section class="project-actions">
      <ul class="icons-ul">
        <% if current_user.can_mark_winner?(project) %>
          <li class="non-winner-action">
            <%= link_to edit_chapter_project_winner_path(project.chapter, project, return_to: "#{request.path}#project#{project.id}") do %>
              <i class="icon-li icon-forward"></i>
              <%= t("projects.project.publish-as-winner") %>
            <% end %>
          </li>

          <li class="winner-action">
            <%= link_to edit_chapter_project_winner_path(project.chapter, project, return_to: "#{request.path}#project#{project.id}"), class: "mark-as-winner" do %>
              <i class="icon-li icon-forward"></i> <%= t("projects.project.edit-winner") %>
            <% end %>
          </li>

          <li class="winner-action">
            <%= link_to project_winner_path(project), remote: true, method: :delete, class: "remove-as-winner" do %>
              <i class="icon-li icon-minus"></i>
              <%= t("projects.project.unpublish-as-winner") %>
            <% end %>
          </li>
        <% end %>

        <% if current_user.can_edit_project?(project) %>
          <li>
            <%= link_to edit_project_path(project) do %>
              <i class="icon-li icon-edit"></i> <%= t("projects.project.edit") %>
            <% end %>
          </li>

          <li>
            <%= link_to project_path(project), :method => :delete, :data => { :confirm => I18n.t("projects.project.confirm-delete") }, :class => "text-muted delete-spam" do %>
              <i class="icon-li icon-remove"></i> <%= t("projects.project.delete") %>
            <% end %>
        <% end %>
      </ul>
    </section>
  </section>

  <section class="contact">
    <span>
      <%= project.name %>
    </span>

    <span>
      · <%= mail_to project.email %>
    </span>

    <% if project.phone.present? %>
      <span>
        · <%= project.phone %>
      </span>
    <% end %>

    <% if project.url.present? %>
      <span>
        · <%= link_to project.url, project.url, :target => "_blank" %>
      </span>
    <% end %>
  </section>
</header>

<section class="project-proposal-details">
  <div class="project-pitch">
    <% if project.has_images? %>
      <h3><%= I18n.t(".images", scope: "projects.project") %></h3>
      <p class="gallery">
      <% project.photos.each_with_index do |image, index| %>
        <%= link_to I18n.t(".image", scope: "projects.project", index: index + 1), image_path(image.url), :rel => "project-#{project.id}-images", :class => "lightbox", :target => "blank" %>
      <% end %>
      </p>
    <% end %>

    <h3><%= I18n.t(".about-project", scope: "projects.project") %></h3>
    <%= markdown project.about_project, :link_attributes => { :target => "_blank" }, :hard_wrap => true %>
    <h3><%= I18n.t(".use-for-money", scope: "projects.project") %></h3>
    <%= markdown project.use_for_money, :link_attributes => { :target => "_blank" }, :hard_wrap => true %>
    <h3><%= I18n.t(".about-me", scope: "projects.project") %></h3>
    <%= markdown project.about_me, :link_attributes => { :target => "_blank" }, :hard_wrap => true %>

    <% 1.upto(Chapter::EXTRA_QUESTIONS_COUNT) do |num| -%>
      <% if project.extra_question(num).present? %>
        <h3><%= project.extra_question(num) %></h3>
        <%= markdown project.extra_answer(num), :link_attributes => { :target => "_blank" } || "_#{I18n.t '.not-answered', scope: 'projects.project'}_" %>
      <% end %>
    <% end %>
  </div>

</section>

  <section class="project__comments">
    <div class="project__comments-inner">
      <%= react_component("CommentList", { projectId: project.id, currentUserId: current_user.id, deleteBasePath: project_comments_path(project), initialComments: @initial_comments, deleteConfirmationText: I18n.t(".confirm-delete-comment", scope: "projects.project"), deleteIconText: I18n.t(".delete-comment", scope: "projects.project"), deletePermission: current_user.can_edit_project?(project) }, { prerender: true }) %>

      <div class="comment-form-wrapper">
        <%= link_to I18n.t(".add-comment", scope: "projects.project"), "javascript:void(0)", class: "comment-form-expand" %>

        <%= simple_form_for [project, Comment.new], method: :post, remote: true, html: { class: "comment-form" } do |f| %>
          <%= f.input :viewable_by, collection: Comment::VIEWABLE_OPTIONS, include_blank: false, wrapper_html: { class: "comment-form__viewable-by" }, label_html: { class: "comment-form__label--inline" } %>
          <%= f.input_field :body, as: :string, class: "comment-form__input--textarea", autocomplete: "off" %>
        <% end %>
      </div>
    </div>
  </section>
