<section class="admin-pannel">
  <%= render :partial => 'shared/sidebar' %>
</section>

<section class="applications">
  <h1><%= t ".title", :name => @chapter.name %></h1>
  <section class="application-filters">
    <nav>
      <%= link_to '#', :class => 'chapter-selection' do %>
        <span><%= @chapter.name %></span>
        <span class="arrow"></span>      
      <% end -%>
      <ol class="chapter-selector">
        <% selectable_chapters_for(current_user).each do |chapter| %>
          <li><%= link_to chapter.name, chapter_projects_path(chapter) %></li>
        <% end %>
      </ol>
    </nav>

    <form accept-charset="UTF-8" action="<%= chapter_projects_path(@chapter) %>" class="simple_form filter" method="get">
      <div class="input short-list-toggle">
        <input class="" id="my-short-list" type="checkbox">
        <label for="my-short-list"><%= t ".short-list-filter" %></label>
      </div>
      <div class="input string optional date-range">
        <label class="string optional" for="filter_start"><%= t ".start-date" %></label>
        <input class="string optional prefilled" id="filter_start" name="start" size="50" type="text" value="<%= @start_date %>">
      </div>

      <div class="input string optional date-range">
        <label class="string optional" for="filter_end"><%= t ".end-date" %></label>
        <input class="string optional prefilled" id="filter_end" name="end" size="50" type="text" value="<%= @end_date %>">
      </div>

      <input name="" type="submit" value="<%= t(".filter-button") %>">
    </form>
  </section>
  <%= render @projects %>
</section>

<% content_for :javascript do %>
  <% javascript_tag do %>
    $(window).load(function(){
      $('#filter_start').datepicker({dateFormat: 'yy-mm-dd', onClose: function(){ $('#filter_start').blur() }});
      $('#filter_end').datepicker({dateFormat: 'yy-mm-dd', onClose: function(){ $('#filter_end').blur() }});
    });
  <% end %>
<% end %>
