<section class="admin-pannel">
  <div class="avatar">
    <%= image_tag("avatar.jpg") %>
  </div>

  <% if current_user.can_invite? %>
    <%= link_to "Invite a trustee", new_invitation_path %>
  <% end %>
  <% if current_user.can_manage_permissions? %>
    <%= link_to "Manage user permissions", "#" %>
  <% end %>
  <a class="edit-profile" href="#">Edit Profile</a>
  <% if current_user.can_create_chapters? %>
    <%= link_to "Create Chapter", new_chapter_path %>
  <% end %>
  <a class="edit-users" href="#">Edit Users</a>
  <a class="edit-chapters" href="#">Edit Chapters</a>
</section>

<section class="applications">
  <section class="application-filters">
    <h1>Boston Chapter</h1>
    <form accept-charset="UTF-8" action="/projects" class="simple_form filter" method="get">
      <div class="input short-list-toggle">
        <label for="my-short-list">
        <input class="" id="my-short-list" type="checkbox">
        My Short-list</label>
      </div>
      <div class="input string optional date-range">
        <label class="string optional" for="filter_start">Start</label>
        <input class="string optional" id="filter_start" name="start" size="50" type="text" value="<%= @start_date %>">
      </div>

      <div class="input string optional date-range">
        <label class="string optional" for="filter_end"> End</label>
        <input class="string optional" id="filter_end" name="end" size="50" type="text" value="<%= @end_date %>">
      </div>

      <input name="" type="submit" value="Filter">
    </form>
  </section>

  <% @projects.each do |project| %>
    <article class="project">
      <header>
        <div class="title">
          <a class="title" href="#"><%= project.title %></a>
          <a class="mark-as-winner" href="#">Winner</a>
          <a class="short-list" href="#">Awesome</a>
        </div>

        <section class="meta-data">
          <span>
            <%= project.name %>
          </span>
          <span>
            <%= project.chapter.name %>,
            <%= project.created_at %>
          </span>
        </section>
      </header>

      <section class="project-proposal-details">
        <div class="project-pitch">
          <p><%= project.use %></p>
        </div>
        <div="details-toggle">
        </div>
        <a class="see-more" href="#">
          <p>See the rest →</p>
        </a>
      </section>
    </article>
  <% end %>
</section>
