<section class="admin-pannel">
</section>

<section class="applications">
  <section class="application-filters">
  <%= simple_form_for :filter, :url => projects_path, :method => :get do |form| %>
    <%= form.input :start, :required => false, :input_html => { :value => @start_date } %>
    <%= form.input :end,   :required => false, :input_html => { :value => @end_date } %>
    <%= submit_tag "Filter", :name => '' %>
  <% end %>
  </section>
    <% @projects.each do |project| %>
      <article class="application project">
        <header class="title">
          <div>
            <h2><%= project.title %></h2>
            <a class="mark-as-winner" href="#">Winner</a>
            <a class="short-list" href="#">Like</a>
          </div>

          <section class="meta-data">
            <span><%= project.name %></span>
            <span><%= project.chapter.name %></span>
            <span><%= project.created_at %></span>
          </section>
        </header>

        <section class="application-details">
          <div class="project-pitch">
            <p><%= project.use %></p>
          </div>
          <div="details-toggle">
          </div>
        </section>
      </article>
    <% end %>
</section>
