<section class="admin-pannel">
</section>

<section class="applications">
  <section class="application-filters">
  <form accept-charset="UTF-8" action="/projects" class="simple_form filter" method="get">
    <div class="input string optional">
      <label class="string optional" for="filter_start">Start</label>
      <input class="string optional" id="filter_start" name="start" size="50" type="text" value="<%= @start_date %>">
    </div>
    <div class="input string optional">
      <label class="string optional" for="filter_end"> End</label>
      <input class="string optional" id="filter_end" name="end" size="50" type="text" value="<%= @end_date %>">
    </div>
    <input name="" type="submit" value="Filter">
  </form>
  </section>
    <% @projects.each do |project| %>
      <article class="application project">
        <header class="title">
          <div>
            <h2><%= project.title %></h2>
            <a class="mark-as-winner" href="#">Winner</a>
            <a class="short-list" href="#">Like</a>
          </div>

          <section class="meta-data">
            <span><%= project.name %></span>
            <span><%= project.chapter.name %></span>
            <span><%= project.created_at %></span>
          </section>
        </header>

        <section class="application-details">
          <div class="project-pitch">
            <p><%= project.use %></p>
          </div>
          <div="details-toggle">
          </div>
        </section>
      </article>
    <% end %>
</section>
