<section class="application-intro">
  <h1><%= t ".title" %></h1>
  <p><%= t ".description" %></p>
</section>

<section class="project-form">
  <%= simple_form_for @project, url: submissions_url, html: { multipart: true } do |form| %>
    <%= render 'form', project: @project, form: form %>
    <%= submit_tag t ".apply" %>
  <% end %>
</section>
