<header class="project">
  <% if can_manage_chapter?(@project.chapter) %>
    <%= link_to "Edit Project", edit_project_path(@project), :class => 'edit-project' %>
  <% end %>
  <h1><%= @project.title %></h1>
</header>

 <section class="project-gallery" id="project-gallery">
   <ul class="viewport">
     <% @project.photos.each do |photo| %>
       <li class="piece image-wrapper"> <%= image_tag(photo.image.url) %> </li>
     <% end %>
   </ul>
   <div class="arrows">
     <a href="#" class="arrow left"></a>
     <a href="#" class="arrow right"></a>
   </div>
 </section>

<section class="project-details">
  <section class="meta-data">
    <p>A <span class="chapter-name"><%= @project.chapter.name %></span> project created by <span class="project-starter"><%= @project.name %></span></p>
    <a href="#">Share on Twitter</a>
    <a href="#">Share on FaceBook</a>
  </section>

  <section class="project-description">
    <h2>Project Description</h2>
    <p><%= @project.use %></p>

    <% if @project.extra_answer_1.present? %>
      <h2><%= @project.extra_question_1 %></h2>
      <p><%= @project.extra_answer_1 %></p>
    <% end %>

    <% if @project.extra_answer_2.present? %>
      <h2><%= @project.extra_question_2 %></h2>
      <p><%= @project.extra_answer_2 %></p>
    <% end %>

    <% if @project.extra_answer_3.present? %>
      <h2><%= @project.extra_question_3 %></h2>
      <p><%= @project.extra_answer_3 %></p>
    <% end %>
  </section>

  <section class="project-side-bar">
    <article class="project-state">
      <% if @project.winner? %>
        <div class="state funded">
          <p>Funded by <span class="chapter-name"><%= @project.chapter.name %></span> <span class="funded-on">(<%= @project.funded_on %>)</span></p>
        </div>
      <% else %>
        <div class="state applied">
          <p>Project application sumitted to <span class="created_at"><%= @project.chapter.name %></span></p>
        </div>
      <% end %>
    </article>

    <article class="project-site-link">
      <a href="#">
        Visit this projects web site
        <span>→</span>
      </a>
    </article>

    <article class="project-rss">
      <h2>Recent Posts</h2>
      <ol class="feed">
        <li>
          <a href="#">Awesome Melbourne teams up with Pozible</a>
        </li>
        <li>
          <a href="#">Introducing... Boston's Awesome Office Hours!</a>
        </li>
        <li>
          <a href="#">Montreal's first grant party!</a>
        </li>
        <li>
          <a href="#">Awesome Melbourne teams up with Pozible</a>
        </li>
        <li>
          <a href="#">Introducing... Boston's Awesome Office Hours!</a>
        </li>
      </ol>
    </article>
  </section>
</section>

<%= content_for :javascript do %>
  <%= javascript_tag do %>
    $(document).ready(function(){
      Slideshow("#project-gallery .piece").run();
    });
  <% end %>
<% end %>
