<header class="project">
  <h1><%= @project.title %></h1>
</header>

 <section class="project-gallery">
   <a href="#" class="arrow left"></a>
   <div class="image-wrapper">
     <%= image_tag("1.JPG") %>
   </div>
   <a href="#" class="arrow right"></a>
 </section>

<section class="project-details">
  <section class="meta-data">
    <p>A <span class="chapter-name"><%= @project.chapter.name %></span> project created by <span class="project-starter"><%= @project.name %></span></p>
    <a href="#">Share on Twitter</a>
    <a href="#">Share on FaceBook</a>
  </section>

  <section class="description">
    <h2>Project Description</h2>
    <p class="description"><%= @project.use %></p>

    <% if @project.extra_answer_1.present? %>
      <h2><%= @project.extra_question_1 %></h2>
      <p class="extra-answer-1"><%= @project.extra_answer_1 %></p>
    <% end %>

    <% if @project.extra_answer_2.present? %>
      <h2><%= @project.extra_question_2 %></h2>
      <p class="extra-answer-2"><%= @project.extra_answer_2 %></p>
    <% end %>

    <% if @project.extra_answer_3.present? %>
      <h2><%= @project.extra_question_3 %></h2>
      <p class="extra-answer-3"><%= @project.extra_answer_3 %></p>
    <% end %>
  </section>

  <section class="side-bar">
    <article>
      <% if @project.winner? %>
        <div class="state funded">
          <p>Funded on <span class="funded_on"><%= @project.funded_on %></span> by <span class="chapter-name"><%= @project.chapter.name %></span></p>
        </div>
        <div class="state inprogress">
          <p>Project is being worked on</p>
        </div>
      <% else %>
        <div class="state applied">
          <p>Project application sumitted to <span class="created_at"><%= @project.chapter.name %></span></p>
        </div>
      <% end %>
    </article>

    <article>
      Condition
    </article>

    <article>
      URLS
    </article>

    <article class="rss-feed">
      <h2>Recent Posts</h2>
      <ol class="feed">
        <li>
          <a href="#">Awesome Melbourne teams up with Pozible</a>
        </li>
        <li>
          <a href="#">Introducing... Boston's Awesome Office Hours!</a>
        </li>
        <li>
          <a href="#">Montreal's first grant party!</a>
        </li>
      </ol>
    </article>
  </section>
</section>
