<section class="top">
  <section class="titles">
  <h1><%= @project.title %></h1>
    <div class="title-data">
      <p><strong>Fellow:</strong> <%= @project.name %></p>
      <p><strong>Funded:</strong> <%= @project.funded_on %> by <%= @project.chapter.name %></p>
    <div>
  </section>
</section>

<div class="media-wrapper">
  <section class="project-media">
  </section>
</div>

<section class="project-details">
  <section class="description">
    <%= @project.use %>
  </section>
  <section class="side-bar">
    <article class="rss-feed">
      <h2>Recent Posts</h2>
      <ol class="feed">
        <li>
          <a href="#"><p>Awesome Melbourne teams up with Pozible</p></a>
        </li>
        <li>
          <a href="#"><p>Introducing... Boston's Awesome Office Hours!</p></a>
        </li>
        <li>
          <a href="#"><p>Montreal's first grant party!</p></a>
        </li>
      </ol>
    </article>
  </section>
</section>
