<% provide(:page_title, @project.title) %>
<% provide(:meta_viewport, 'width=device-width, initial-scale=1, maximum-scale=1') %>

<% content_for(:extra_body_classes, 'projects-index') %>

<section class="admin-panel">
  <%= render 'shared/sidebar', :chapter => @project.chapter %>
</section>

<section class="applications">
  <h1><%= t "projects.index.title", :name => @project.chapter.display_name, :count => 1 %></h1>

  <p>
    <%= raw t ".back-to", :name => @project.chapter.display_name, :url => chapter_projects_path(@project.chapter) %>
  </p>

  <%= render @project, full_view: true %>

</section>

<%= render "shared/lightbox" %>
<% render "project_actions_js" %>
<%= render partial: "comments_js", locals: { comments: @initial_comments } %>
