<%= hidden_field_tag :return_to, params[:return_to] %>
<div class="chapter-select">
  <%= form.input :chapter_id, collection: winnable_chapters_for(form.object), label: t(".chapter_id"), include_blank: false, disabled: !(form.object.in_any_chapter? || current_user.admin?), hint: t(".hints.chapter_id") %>
</div>
<div class="personal-info">
  <%= form.input :title, maxlength: 50 %>
  <%= render partial: "projects/funded_date", locals: { form: form, required: true, hint: t(".hints.funded_on") } %>
</div>
<%= render partial: "projects/image_upload", locals: { form: form, image_notes: t(".image-notes") } %>
<div class="project-info">
  <%= form.input :funded_description, required: true %>
</div>
<div class="personal-info">
  <%= form.input :name, label: t(".name") %>
  <%= form.input :url %>
  <%= form.input :rss_feed_url %>
</div>


