<div class="image large-square" data-src="<%= project.display_images[0].url(:gallery) %>" data-sub-html="<%= project.display_images[0].caption %>">
  <%= image_tag(project.display_images[0].url(:large_square)) %>
</div>
<div class="flexbox vertical">
  <div class="flexbox horizontal">
    <div class="image small-square on-top" data-src="<%= project.display_images[1].url(:gallery) %>" data-sub-html="<%= project.display_images[1].caption %>">
      <%= image_tag(project.display_images[1].url(:small_square)) %>
    </div>
    <div class="image small-square on-top" data-src="<%= project.display_images[2].url(:gallery) %>" data-sub-html="<%= project.display_images[2].caption %>">
      <%= image_tag(project.display_images[2].url(:small_square)) %>
    </div>
  </div>
  <div class="flexbox horizontal">
    <div class="image small-square" data-src="<%= project.display_images[3].url(:gallery) %>" data-sub-html="<%= project.display_images[3].caption %>">
      <%= image_tag(project.display_images[3].url(:small_square)) %>
    </div>
    <div class="image small-square" data-src="<%= project.display_images[4].url(:gallery) %>" data-sub-html="<%= project.display_images[4].caption %>">
      <%= image_tag(project.display_images[4].url(:small_square)) %>
    </div>
  </div>
</div>
<% if @project.display_images.count > 5 %>
<% (5..@project.display_images.count-1).each do |i| %>
<div class="image not-shown" data-src="<%= project.display_images[i].url(:gallery) %>" data-sub-html="<%= project.display_images[i].caption %>">
</div>
<% end %>
<% end %>