<article href="#" class="chapter">
  <div class="inner-wrapper">
    <h2 class="name"><%= link_to chapter.name, chapter_path(chapter) %></h2>
    <div class="external-links">
      <%= link_to "", chapter.twitter_url, class: :twitter_url %>
      <%= link_to "", chapter.facebook_url, class: :facebook_url %>
      <%= link_to "", chapter.blog_url, class: :blog_url %>
    </div>
  </div>
  <p class="country"><%= chapter.country %></p>
</article>
