<article href="#" class="chapter">
  <div class="inner-wrapper">
    <h2 class="name"><%= link_to chapter.name, chapter_path(chapter) %></h2>
    <div class="external-links">
      <%= link_to "", chapter.twitter_url, :class => :twitter_url, :title => Chapter.human_attribute_name(:twitter_url) if chapter.twitter_url.present? %>
      <%= link_to "", chapter.facebook_url, :class => :facebook_url, :title => Chapter.human_attribute_name(:facebook_url) if chapter.facebook_url.present? %>
      <%= link_to "", chapter.instagram_url, :class => :instagram_url, :title => Chapter.human_attribute_name(:instagram_url) if chapter.instagram_url.present? %>
    </div>
  </div>
  <p class="country"><%= chapter.country %></p>
</article>
