<%= simple_form_for chapter do |form| -%>
  <% if current_user.can_create_chapters? %>
    <div class="chapter-admin">
      <%= form.input :inactive, :as => :boolean %>
    </div>
  <% end %>

  <%= form.input :name %>
  <%= form.input :slug %>
  <%= form.input :twitter_url, :label => "Twitter URL" %>
  <%= form.input :facebook_url, :label => "Facebook URL" %>
  <%= form.input :email_address, :label => "Email Address" %>
  <%= form.input :blog_url, :label => "Blog URL" %>
  <%= form.input :rss_feed_url, :label => "RSS Feed URL" %>
  <%= form.input :description %>
  <%= form.input :country, :priority => COUNTRY_PRIORITY %>
  <%= form.input :time_zone %>
  <%= form.input :locale, :collection => I18n.available_locales, :include_blank => false, :label => t('simple_form.labels.chapter.locale', :slug => chapter.slug) %>

  <%= form.input :project_review_start, :as => 'string', :include_blank => true %>
  <%= form.input :project_review_end, :as => 'string', :include_blank => true %>

  <%= form.input :extra_question_1 %>
  <%= form.input :extra_question_2 %>
  <%= form.input :extra_question_3 %>
  <%= form.input :submission_response_email, :input_html => { :placeholder => Chapter::DEFAULT_SUBMISSION_RESPONSE_EMAIL } %>

  <%= form.button :submit %>
<% end -%>

<% content_for :javascript do %>
  <% javascript_tag do %>
    $(window).load(function(){
      $('#chapter_project_review_start').datepicker({
        dateFormat: 'yy-mm-dd',
        onClose: function(selectedDate) {
          $('#chapter_project_review_start').blur();
          $('#chapter_project_review_end').datepicker("option", "minDate", selectedDate);
        }
      });

      $('#chapter_project_review_end').datepicker({
        dateFormat: 'yy-mm-dd',
        onClose: function() { $('#chapter_project_review_end').blur() }
      });
    });
  <% end %>
<% end %>
