<%= provide(:page_title, @chapter.name) %>

<header>
  <div class="title">
    <h1>
      <%= @chapter.name %>
    </h1>
    <% if can_manage_chapter?(@chapter) %>
      <%= link_to "Edit Chapter", edit_chapter_path(@chapter), :class => 'edit-chapter' %>
    <% end %>
    <%= blog_link @chapter %>
    <%= facebook_link @chapter %>
    <%= twitter_link @chapter %>
  </div>
</header>

<div class="gallery-overflow-wrapper">
  <section class="chapter-header-wrapper jThumbnailScroller">
    <div class="gallery-container jTscrollerContainer">
      <section class="chapter-projects jTscroller">
        <% @chapter.winning_projects.each do |project| %>
          <article class="project" data-id="<%= project.id %>">
            <%= link_to project do %>
              <div class="image-wrapper">
                <div class="project-name">
                  <h2><%= project.title %></h2>
                  <span><%= t(".byline", :name => project.name) %> </span>
                  <span><%= l project.funded_on, :format => :funding %></span>
                </div>
                <%= image_tag(project.index_image_url) %>
              </div>
            <% end %>
          </article>
        <% end %>
      </section>
    </div>
    <a href="#" class="nav left jTscrollerPrevButton"></a>
    <a href="#" class="nav right jTscrollerNextButton"></a>
  </section>
</div>

<section class="chapter-info">
  <h2><%= t(".trustees.header") %></h2>
  <section class="trustees">
    <ol>
      <% @chapter.users.deans_first.including_role.uniq.each do |user| %>
      <li>
        <article class="trustee <%= user.role %>">
          <%= link_to user.url, :class => :avatar do %>
            <div class="hat"></div>
            <div class="trustee-details">
              <h3><%= user.first_name %> <%= user.last_name %></h3>
            </div>
            <div class="avatar">
              <%= image_tag user.gravatar_url %>
            </div>
          <% end %>
        </article>
      </li>
      <% end %>
    </ol>
  </section>

  <section class="description">
    <article class="about">
      <h2><%= t(".trustees.about") %></h2>
      <p><%= @chapter.description %></p>
    </article>
    <article class="rss-feed" data-feed-url="<%= @chapter.rss_feed_url %>">
      <h2><%= t(".trustees.news", :name => @chapter.name) %></h2>
      <ol class="feed">
        <% headlines(@chapter.rss_feed_url).each do |headline| %>
          <li>
            <span class="post-date"><%= headline[:publish_date] %>:</span>
            <%= link_to headline[:title], headline[:link] %>
          </li>
        <% end %>
          <div class="news-events-divider"></div>
          <li class="event">
            <span class="post-date"></span>
            <a href="#"></a>
          </li>
          <li class="event">
            <span class="post-date"></span>
            <a href="#"></a>
          </li>
          <li class="event">
            <span class="post-date"></span>
            <a href="#"></a>
          </li>
      </ol>
    </article>
  </section>
</section>
