<%= provide(:page_title, @chapter.display_name) %>

<header>
  <div class="title">
    <h1>
      <%= @chapter.display_name %>
    </h1>

    <% if can_manage_chapter?(@chapter) %>
      <%= link_to t(".edit"), edit_chapter_path(@chapter), :class => 'edit-chapter' %>
    <% end %>

    <% if can_apply_to_chapter?(@chapter) %>
      <%= link_to t(".apply-for-grant"), new_submission_path(:chapter => @chapter), :class => 'apply-chapter' %>
    <% end %>

    <%= email_link @chapter %>
    <%= blog_link @chapter %>
    <%= instagram_link @chapter %>
    <%= facebook_link @chapter %>
    <%= twitter_link @chapter %>
  </div>

  <% if @chapter.inactive? %>
    <p class="inactive-notice">
      <strong><%= t(".inactive-chapter") %></strong>
      <%= t(".inactive-chapter-reason").html_safe %>
    </p>
  <% end %>
</header>

<% unless @chapter.winning_projects.empty? %>
  <section class="chapter-header-wrapper owl-wrapper">
     <section class="chapter-projects owl-carousel owl-theme">
        <% @chapter.winning_projects.each do |project| %>
          <article class="project item" data-id="<%= project.id %>">
            <%= link_to project do %>
              <div class="image-wrapper">
                <div class="project-name">
                  <h2><%= project.title %></h2>
                  <span><%= t(".byline", :name => project.name) %> </span>
                  <span><%= l project.funded_on, :format => :funding %></span>
                </div>
                <%= image_tag(project.primary_image.url(:index)) %>
              </div>
            <% end %>
          </article>
       <% end %>
      </section>
    <div class="owl-dots-wrapper">
      <div id="owl-dots" class="owl-dots"></div>
    </div>
  </section>
<% end %>

<section class="chapter-info">
  <section class="description">
    <article class="about <%= about_class(@chapter) %>">
      <h2><%= t(".trustees.about") %></h2>
      <%= markdown @chapter.description %>
    </article>

    <% if @chapter.rss_feed_url.present? %>
    <article class="rss-feed half" data-feed-url="<%= @chapter.rss_feed_url %>">
      <h2><%= t(".trustees.news", :name => @chapter.display_name) %></h2>
      <section class="rss" id="rss-feeds"></section>
    </article>
    <% end %>
  </section>

  <% if !@chapter.hide_trustees? && @chapter.users.present? %>
  <h2><%= t(".trustees.header") %></h2>
  <section class="trustees">
    <ol>
      <% @chapter.users.deans_first.including_role.distinct.each do |user| %>
      <li>
        <article class="trustee <%= user.role %>">
          <%= link_to user.url, :class => :avatar do %>
            <div class="hat"></div>
            <div class="trustee-details">
              <h3><%= user.first_name %> <%= user.last_name %></h3>
            </div>
            <div class="avatar">
              <%= image_tag user.gravatar_url, :alt => t(".trustees.photo-alt-text", :name => user.name) %>
            </div>
          <% end %>
        </article>
      </li>
      <% end %>
    </ol>
  </section>
  <% end %>

</section>

<% if can_apply_to_chapter?(@chapter) %>
  <section class="chapter-apply">
    <div class="apply-button">
      <%= link_to t(".apply-for-grant"), new_submission_path(:chapter => @chapter) %>
    </div>
  </section>
<% end %>

<% content_for :javascript do -%>
  <%= render 'shared/rssfeed', rss_feed_url: @chapter.rss_feed_url %>
<% end -%>
