<div class="projects-wrapper">
  <header>
    <h1>
      <%= @chapter.name %>
      <%= link_to "/ Apply Here", new_submission_path, :class => "apply-here" %>
    </h1>
    <section class="external-links">
      <ol>
        <li>
          <%= link_to "", @chapter.twitter_url, :class => "twitter" %>
        </li>
        <li>
          <%= link_to "", @chapter.facebook_url, :class => "facebook" %>
        </li>
        <li>
          <%= link_to "", @chapter.blog_url, :class => "blog" %>
        </li>
      </ol>
    </section>
    <% if can_manage_chapter?(@chapter) %>
      <%= link_to "Edit Chapter", edit_chapter_path(@chapter), :class => 'edit-chapter' %>
    <% end %>
  </header>

  <section class="project-gallery">
    <a href="#" class="arrow left">←</a>
    <div class="image-wrapper">
      <%= image_tag("project.jpg") %>
    </div>
    <a href="#" class="arrow right">→</a>
  </section>
</div>

<div class="chapter-info-wrapper">
  <section class="chapter-info">
    <header>
      <h1>We Fund Awesome</h1>
    </header>

    <section class="trustees">
      <ol>
        <% @chapter.users.deans_first.including_role.each do |user| %>
        <li>
          <article class="trustee <%= user.role %>">
            <a class="avatar" href="#">
              <div class="trustee-details">
                <h3><%= user.first_name %> <%= user.last_name %></h3>
              </div>
              <div class="avatar">
                <%= image_tag user.gravatar_url %>
              </div>
            </a>
          </article>
        </li>
        <% end %>
      </ol>
    </section>

    <section class="description">
      <article class="about">
        <h2>About Us</h2>
        <p><%= @chapter.description %></p>
      </article>
      <article class="rss-feed" data-feed-url="<%= @chapter.rss_feed_url %>">
        <h2>Recent Posts</h2>
        <ol class="feed">
          <li>
            <a href="#"><p>Awesome Melbourne teams up with Pozible</p></a>
          </li>
          <li>
            <a href="#"><p>Introducing... Boston's Awesome Office Hours!</p></a>
          </li>
          <li>
            <a href="#"><p>Montreal's first grant party!</p></a>
          </li>
        </ol>
      </article>
    </section>

  </section>
</div>
