<section class="chapter-header-wrapper">
  <header>
    <% if can_manage_chapter?(@chapter) %>
      <%= link_to "Edit Chapter", edit_chapter_path(@chapter), :class => 'edit-chapter' %>
    <% end %>
    <div class="title">
      <h1>
        <%= @chapter.name %>
      </h1>
      <%= link_to "", @chapter.twitter_url, :class => "external twitter" %>
      <%= link_to "", @chapter.facebook_url, :class => "external facebook" %>
      <%= link_to "", @chapter.blog_url, :class => "external blog" %>
    </div>
  </header>

  <div class="gallery-container">
    <section class="awesome-projects">
        <% @chapter.winning_projects.each do |project| %>
          <article class="project" data-id="<%= project.id %>">
            <%= link_to project do %>
              <div class="image-wrapper">
                <div class="project-name">
                  <h2>Project Title</h2>
                  <p>
                    <span>By Charlie Chaplin</span>
                  </p>
                </div>
                <%= image_tag("1.JPG") %>
              </div>
            <% end %>
          </article>
        <% end %>
    </section>
  </div>
</section>

<section class="chapter-info">
  <section class="trustees">
    <ol>
      <% @chapter.users.deans_first.including_role.each do |user| %>
      <li>
        <article class="trustee <%= user.role %>">
          <a class="avatar" href="#">
            <div class="trustee-details">
              <h3><%= user.first_name %> <%= user.last_name %></h3>
            </div>
            <div class="avatar">
              <%= image_tag user.gravatar_url %>
            </div>
          </a>
        </article>
      </li>
      <% end %>
    </ol>
  </section>

  <section class="description">
    <article class="about">
      <h2>About Us</h2>
      <p><%= @chapter.description %></p>
    </article>
    <article class="rss-feed" data-feed-url="<%= @chapter.rss_feed_url %>">
    <h2>Recent Posts</h2>
    <ol class="feed">
      <% headlines(@chapter.rss_feed_url).each do |headline| %>
        <li>
          <%= headline[:publish_date] %> <%= link_to headline[:title], headline[:link] %>
        </li>
      <% end %>
    </ol>
    </article>
  </section>
</section>
