<div class="projects-wrapper">
  <header>
    <h1>
      <%= @chapter.name %>
      <a href="#" class="apply-here">/ Apply Here</a>
    </h1>
    <section class="external-links">
      <ol>
        <li>
          <a class="twitter" href="#"></a>
        </li>
        <li>
          <a class="faceboo" href="#"></a>
        </li>
      </ol>
    </section>
    <% if can_manage_chapter?(@chapter) %>
      <%= link_to "Edit Chapter", edit_chapter_path(@chapter), :class => 'edit-chapter' %>
    <% end %>
  </header>

  <section class="project-gallery">
    <%= image_tag("project.jpg") %>
    <!--
       -<ol>
       -  <% 6.times do %>
       -  <li>
       -    <section class="project">
       -      <%= image_tag("project.jpg") %>
       -      <div class="meta-data">
       -      </div>
       -    </section>
       -  </li>
       -  <% end %>
       -</ol>
       -->
  </section>
</div>

<div class="chapter-info-wrapper">
  <section class="chapter-info">
    <header>
      <h1>We Fund Awesome</h1>
    </header>

    <section class="trustees">
      <ol>
        <% 10.times do %>
        <li>
          <article class="trustee">
            <a class="avatar" href="#">
              <div class="trustee-details">
                <h3>Jason Freid</h3>
              </div>
              <div class="avatar">
                <%= image_tag("avatar.jpg") %>
              </div>
            </a>
          </article>
        </li>
        <% end %>
      </ol>
    </section>

    <section class="description">
      <article class="about">
        <h2>About Us</h2>
        <p>Want to know when we're having parties and who is getting the ca$h? Check out our blog and follow @awesomebos on Twitter. Curious about what we think is "Awesome"? Take a look at our Tumblr feed: Found Awesome.</p>
      </article>
      <!--
         -<article class="upcoming-events">
         -  <h2>Upcoming Events</h2>
         -  <ol class="feed">
         -    <li>
         -      <a href="#"><p>2/2/12 - Melbourne Grant Party</p></a>
         -    </li>
         -    <li>
         -      <a href="#"><p>2/8/12 - Boston Awesome Office Hours 2!</p></a>
         -    </li>
         -    <li>
         -      <a href="#"><p>2/23/12 - Boston January winner announced</p></a>
         -    </li>
         -  </ol>
         -</article>
         -->
      <article class="rss-feed">
        <h2>Recent Posts</h2>
        <ol class="feed">
          <li>
            <a href="#"><p>Awesome Melbourne teams up with Pozible</p></a>
          </li>
          <li>
            <a href="#"><p>Introducing... Boston's Awesome Office Hours!</p></a>
          </li>
          <li>
            <a href="#"><p>Montreal's first grant party!</p></a>
          </li>
        </ol>
      </article>
    </section>

  </section>
</div>
