  <header>
    <div class="title">
      <h1>
        <%= @chapter.name %>
      </h1>
      <% if can_manage_chapter?(@chapter) %>
        <%= link_to "Edit Chapter", edit_chapter_path(@chapter), :class => 'edit-chapter' %>
      <% end %>
      <%= link_to "", @chapter.twitter_url, :class => "external twitter" %>
      <%= link_to "", @chapter.facebook_url, :class => "external facebook" %>
      <%= link_to "", @chapter.blog_url, :class => "external blog" %>
    </div>
  </header>
<section class="chapter-header-wrapper">

  <div class="gallery-container">
    <section class="chapter-projects">
      <% @chapter.winning_projects.each do |project| %>
        <article class="project" data-id="<%= project.id %>">
          <%= link_to project do %>
            <div class="image-wrapper">
              <div class="project-name">
                <h2><%= project.title %></h2>
                <p>By <%= project.name %></p>
              </div>
              <%= image_tag(project.index_image_url) %>
            </div>
          <% end %>
        </article>
      <% end %>
    </section>
  </div>
  <nav>
    <p>Recently funded projects</p>
    <a href="#">See more Awesomeness</a>
  </nav>
</section>

<section class="chapter-info">
  <h2>Meet the Trustees</h2>
  <section class="trustees">
    <ol>
      <% @chapter.users.deans_first.including_role.uniq.each do |user| %>
      <li>
        <article class="trustee <%= user.role %>">
          <%= link_to user.url, :class => 'avatar' do %>
            <div class="trustee-details">
              <h3><%= user.first_name %> <%= user.last_name %></h3>
            </div>
            <div class="avatar">
              <%= image_tag user.gravatar_url %>
            </div>
          <% end %>
        </article>
      </li>
      <% end %>
    </ol>
  </section>

  <section class="description">
    <article class="about">
      <h2>About Us</h2>
      <p><%= @chapter.description %></p>
    </article>
    <article class="rss-feed" data-feed-url="<%= @chapter.rss_feed_url %>">
      <h2><%= @chapter.name %> News</h2>
      <ol class="feed">
        <% headlines(@chapter.rss_feed_url).each do |headline| %>
          <li>
            <span class="post-date"><%= headline[:publish_date] %>:</span>
            <%= link_to headline[:title], headline[:link] %>
          </li>
        <% end %>
      </ol>
    </article>
  </section>
</section>
