<section class="admin-pannel">
  <%= render :partial => 'shared/sidebar' %>
</section>

<section class="applications">
  <section class="header">
    <h1>Finalists for <%= @chapter.name %></h1>
  </section>
  <table>
    <tr class="headers">
      <th>ID</th>
      <th>Votes</th>
      <th>Title</th>
    </tr>
    <% @projects.each do |project| %>
      <tr class="finalist">
        <td><%= project.id %></td>
        <td><%= project.vote_count %></td>
        <td><%= link_to project.title, project_path(project) %></td>
      </tr>
    <% end %>
  </table>
</section>
