<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
<head>
  <meta charset="utf-8" />
  <%= content_tag :title, page_title(app_name: 'The Awesome Foundation') %>
  <%= stylesheet_link_tag :application, :media => 'all' %>
  <%= csrf_meta_tags %>
  <%= meta_tag :viewport, '', :name => 'viewport' %>
  <%= meta_tag :description, t("meta.description"), :name => "description", :property => "og:description" %>
  <%= meta_tag :image, image_url("logo-160x160.png"), :property => "og:image" %>
  <%= auto_discovery_link_tag(:atom, feed_url(format: 'xml')) %>

  <%= render "layouts/locales" %>

  <%= stylesheet_link_tag "//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" %>

  <script type="text/javascript" src="http://use.typekit.com/xhz4kzm.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  <!--[if lt IE 9]>
  <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>
<body class="<%= body_class %>">
  <%= render 'shared/navigation' %>
  <section class="container-wrapper">
    <section class="container">
      <%= render 'shared/flashes' -%>
      <%= yield %>
    </section>
  </section>
  <%= render 'shared/footer' %>
  <%= render 'shared/javascript' %>
</body>
</html>
